* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}
button{
  border:none;
}

/*  nav bar qismi  */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-left:70px;
}
.nav_info {
  display: flex;
  gap: 50px;
  margin-right: 200px;
  a{
    color:black;
  }
}
.log_in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  a{
    color:black;

  }
}
.log_in button{
    width: 120px;
    height: 50px;
    background-color:#FF6600;
    color:white;
    border-radius:20px;
}

/* hero qismi */
.hero {
  display: flex;
  position: relative;
  margin-top: 50px;
}
.hero_text{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 1500px !important;
    position: relative;
    left: 150px;
    z-index: -5;
}

.text_boost{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text_button{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    
}
.text_button button{
    width: 162px;
    height: 50px;
    background-color:#FF6600;
    color:white;
    border-radius:20px
}

  
.learn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text_boost h1{
    font-style: Ageo;
    font-size: 70px;
}

.hero_img {
  display: flex;
}

.img1 {
  position: absolute;
  top: 192px;
  left: 400p;
  right: 421px;
  width: 230px;
  height: 130px;
  z-index: -3;
}

.img2 {
  position: absolute;
  width: 350px;
  right: -157px;
  top: 59px;
  height: 460px;
  z-index: -1;
  position: relative;
}

.img3 {
  width: 606px;
  height: 618px;
  z-index: 1;
}

/* our vision qismi */

.our_vison {
  margin-top: 50px;
}
.our_div{
  margin-top: 70px;
}
.our_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
}
.our_text h2 {
  font-size: 52px;
}
.our_text p{
    color: rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.our_card {
  width: 350px;
  height: 508px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.our_card img {
  width: 76px;
  height: 76px;
}
.our_card h3 {
  font-size: 36px;
}
.our_card button {
  width: 162px;
  height: 50px;
  background-color: #ff6600;
  color: white;
  border-radius: 15px;
}
.our_card p {
  font-size: 18px;
  line-height: 2;
}

/* many qismi */
.many{
    margin-top: 100px;
}
.many_div {
  display: flex;
  justify-content: center;
  padding: 140px;
  gap: 90px;
}

.many_text {
  display: flex;
  /* justify-content: start; */
  /* align-items: start; */
  flex-direction: column;
  gap: 50px;
  /* width: 400px;
    height: 400px; */
}
.many_text p{
    width: 350px;
    color: rgba(0, 0, 0, 0.5);
    
}
.many_text h3{
    width: 200px;
}
.many_text button {
  margin-top: 140px;
  width: 132px;
  height: 50px;
  border-radius:20px
}

.many_img img {
  width: 687px;
  height: 385px;
}

/* What qismi */

.what_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.what_top p{
    color: rgba(0, 0, 0, 0.5);

}
.what_top h2{
    font-size: 52px;
}

.what_card {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 340px;
  height: 237px;
  margin: 30px, 0;
}

.what_card img {
  width: 70px;
  height: 70px;
}
.card_text :nth-child(2){
    color: rgba(0, 0, 0, 0.5);

}
.card_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: DM Sans;
  font-size: 18px;
  line-height: 28px;
  line-height: 1, 5;
  margin: 0 0 10px 0;
  width: 300px;
}
.what_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

/* what card qismi */
.buttton_top {
  display: flex;
  gap: 150px;
  margin-top: 30px;
}

.buttton_button {
  display: flex;
  gap: 150px;
}




/* Meet  */
.meet_team{
  margin-top: 110px;

}
.meet_top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
  p{
    color:#8A898E
  }
}
.meet_top h2{
  font-size: 40px;
}

.meet_card {
  width: 250px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.meet_card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.meet_card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #2d2d8f;
}

.meet_card p {
  margin: 0;
  font-size: 14px;
  color: gray;
  letter-spacing: 1px;
}

.meet_icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
}

.meet_icon div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-right: 1px solid #e5e5e5;
}

.meet_icon div:last-child {
  border-right: none;
}

.meet_icon img {
  width: 20px;   
  height: 20px;
  opacity: 0.6;
  transition: 0.3s;
}

.meet_icon img:hover {
  opacity: 1;
}

.meet_button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top:30px;
}






/* Subsribe */

.Subscribe_div{
  margin-top: 110px;
}

.Subscribe_title h2{
  font-size: 40px;
}


.Subscribe_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
  p{
    color:#8A898E;
  }
}

.Subscribe_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.newsletter{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.newsletter input{
  padding: 20px;
  border-radius:30px; 
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.newsletter button{
  padding: 16px;
  background-color:#FF6600;
  color:white;
  border-radius:15px;
}
.container_2{
  max-width: 1170px;
  margin: 0 auto;
}
section{
  margin-top: 100px;
}


/* Footer */
.footer_info{
  margin-top: 100px;
}
.info_port{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.port_left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}


.info_right{
  display: flex;
  gap: 40px;
   a{ 
    color: black;
   }
  }


.footer_info{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.freee_div{
  max-width: 1170px;
  background-color:#EBEAED;
  height: 2px;
}
.footer_p{
  color:#15143966;
  margin-bottom: 50px;
}


